.Header {
  border: 1px solid black; /* Sets the border width to 10px */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Example shadow with offset and blur */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 1px;
  margin: 10px;
  max-width: 100%;
  text-align: justify;
  background-color: aliceblue;
}

.Header a {
  text-decoration: none;
}

.Header a:hover {
  color: lightblue;
  font-weight: bold;
}

.BlogPost {
  border: 1px solid black; /* Sets the border width to 10px */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Example shadow with offset and blur */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  margin: 10px;
  text-align: justify;
  max-width: 800px;
  transition: border 0.2s ease, box-shadow 0.1s ease; /* Smooth transitions */
}

.BlogPost .banner-image {
  width: 100%; /* Makes the image responsive */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Ensures no space below the image */
}

.BlogPost .info-container {
  display: flex; /* Use flexbox for layout */
  justify-content: flex-start; /* Space items evenly */
  align-items: center; /* Align items vertically */
  padding: 10px; /* Optional padding */
  border: 1px solid #ccc; /* Optional border for visibility */
}

.BlogPost .info-item {
  margin: 0 10px; /* Optional margin between items */
}

.BlogPost:hover {
  border: 2px solid lightblue; /* Sets the border width to 10px */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); /* Example shadow with offset and blur */
}
